/* Bordered form */
.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    
}

.formulariol {
  border: 3px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-image: url(../../assets/perro2.jpg);
  background-size: cover;
  width: 70%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #cccccc44;
}

/* Set a style for all buttons */
button {
  background-color: var(--color-naranja);
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%; 
}

 

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: larger;
  font-weight: 600;
}

.psw a{
    text-decoration: none;
    color: #ffffff;
    font-size: larger;

}
.psw a:hover{
color: black;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}