.grilla{
display: grid;
grid-template-columns:repeat(3,1fr);
grid-template-rows:repeat(2,1fr);
gap: 5px;
height: 60vh;
width: 70%;
margin-top: 5rem;
}

.grid-item{
height: 100%;
border-radius: 10px;
background-position: center;
font-size: larger;
position: relative;
}
.grid-item a{
    margin: 10px;
    letter-spacing: 3px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.grid-item:nth-child(1){
grid-column: 1/2;
grid-row: 1/3;
background-image: url(../../../assets/perro3g.jpg);
background-size: cover;
}

.grid-item:nth-child(2){
background-image: url( ../../../assets/lorogrid-fotor-bg-remover-20240131233149.png);
background-size: cover;
}

.grid-item:nth-child(3){
    background-image: url(../../../assets/lorogrid-fotor-bg-remover-20240131233149.png );
    background-size: cover;
}

.grid-item:nth-child(4){
    background-image: url(../../../assets/gatogrid.webp );
    background-size: cover;
    background-position-y: 1px;
    grid-column: 2/4;
   
}
.grid-item:nth-child(4) a{
position: absolute;
right: 0;
}

.grid-item:nth-child(1) a{
    background-color: #f1f1f1;
    color: black;
    padding:3px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    margin:10px;
    position: absolute;
}

